:root {
  --control-margin: 0.25rem;
  --control-height: 1.25rem;
  --control-font-size: 0.625em;
  /* 
    A 1/4 note at 120bpm is 500ms, but since we use `alternate` we need 1/8.
    This property is updated at runtime whenever the BPM changes. 
    See `setCssBeat` in ./util.ts
  */
  --beat: 250ms;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #fff;
    --text-color: #222;
    --text-color-muted: #666;
    --muted-color: #ccc;
    --meter-color: var(--text-color);
    --control-background-color: #eee;
    --control-disabled-background-color: #f5f5f5;
    --control-active-background-color: #ddd;
    --control-text-color: #333;
    --control-text-color-muted: #777;
    --control-track-color: #ddd;
    --control-disabled-track-color: #eee;
    --control-knob-color: #777;
    --control-disabled-knob-color: #eee;
    --control-disabled-text-color: #aaa;
    --control-on-background-color: #363636;
    --control-on-text-color: #eee;
    --console-background-color: #f4f4f4;
    --focus-color: var(--text-color);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1a1a1a;
    --text-color: #ddd;
    --text-color-muted: #aaa;
    --muted-color: #444;
    --meter-color: var(--text-color);
    --control-background-color: #363636;
    --control-disabled-background-color: #222;
    --control-active-background-color: #555;
    --control-text-color: #eee;
    --control-text-color-muted: #bbb;
    --control-track-color: #444;
    --control-disabled-track-color: #333;
    --control-knob-color: #888;
    --control-disabled-knob-color: #333;
    --control-disabled-text-color: #777;
    --control-on-background-color: #eee;
    --control-on-text-color: #363636;
    --console-background-color: #111;
    --focus-color: var(--text-color);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Fira Code', monospace;
}

html {
  font-size: 16px;
}

/* html.force-light {
  color-scheme: light;
}
html.force-dark {
  color-scheme: dark;
} */

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-size: 1em;
  background: black;
  color: var(--text-color);
}

#app {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background: var(--background-color);
  color: var(--text-color);

  > header,
  > main,
  > footer {
    padding: 0.25rem 0.5rem;
    padding-bottom: 0.125rem;
  }

  > main {
    padding-top: 0;
    padding-bottom: 0;
  }

  > header {
    border-bottom: 1px solid var(--muted-color);

    > section {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &.settings {
      #settings-button {
        margin-left: auto;
      }
    }
  }

  > main {
    overflow: hidden;
    height: 100%;
  }

  > footer {
    padding: 0.5rem;
    margin-top: auto;
    border-top: 1px solid var(--muted-color);
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0.375rem 0;
  font-size: 0.875em;
}

fieldset {
  display: flex;
  align-items: center;
  height: calc(var(--control-height) + 0.25rem);
  margin: 0;
  padding: 0;
  border: none;

  > label {
    display: inline-flex;
    align-items: center;
    max-width: 100%;
    margin-left: 0.125rem;
  }

  &:has(input:disabled) label {
    color: var(--control-text-color-muted);
  }
}

label {
  font-size: var(--control-font-size);
  color: var(--text-color);
}

button,
select,
input,
.checkbox-wrapper,
.number-box {
  height: var(--control-height);
  margin: var(--control-margin);
  font-size: var(--control-font-size);
  border: none;
  border-radius: 0.125rem;
  cursor: pointer;
  background-color: var(--control-background-color);
  color: var(--control-text-color);

  &:disabled:not(.icon-button) {
    cursor: not-allowed;
    color: var(--control-disabled-text-color);
    background: var(--control-disabled-background-color);
  }

  &:focus,
  &.select-wrapper:has(&:focus) > &,
  &:has(input:focus) {
    outline: none;
  }

  &:focus-visible,
  &.select-wrapper:has(&:focus-visible) > &,
  &:has(input:focus-visible) {
    box-shadow: 0 0 0 0.125rem var(--focus-color);
    border-color: var(--focus-color);
  }
}

button {
  padding: 0 0.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  &:active {
    background-color: var(--control-active-background-color);
  }

  /* Seen in Snapshots UI */
  &.on {
    background-color: var(--control-on-background-color);
    color: var(--control-on-text-color);

    &:active {
      background-color: #555;
    }
  }
}

button.icon-button {
  position: relative;
  width: var(--control-height);
  height: var(--control-height);
  background: transparent;
  padding: 0 0.125rem;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1.125rem;
    height: 1.125rem;
    fill: var(--text-color);
    pointer-events: none;
  }

  &:disabled svg {
    fill: var(--muted-color);
  }

  &:hover:not(:disabled, .toggle.on):not(:active) {
    background: var(--control-background-color);
  }

  &:active:not(.toggle) {
    background: var(--control-active-background-color);
  }

  &.on {
    background: var(--control-on-background-color);

    svg {
      fill: var(--control-on-text-color);
    }
  }

  &.is-recording svg {
    fill: red;
  }

  &.queued svg {
    fill: red;
    animation: fadeFill var(--beat) linear infinite alternate;
  }
}

@keyframes fadeFill {
  from {
    fill: red;
  }
  to {
    fill: transparent;
  }
}

.checkbox-wrapper {
  position: relative;
  display: inline-block;
  width: calc(var(--control-height) - 0.125rem);
  height: calc(var(--control-height) - 0.125rem);
  border-color: transparent;
  border-radius: 0.125rem;
  background-color: var(--control-background-color);
  cursor: pointer;

  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0.875rem;
    height: 0.875rem;
    fill: var(--text-color);
    pointer-events: none;
  }

  input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    margin: 0;
    cursor: pointer;
  }

  &:has(input:disabled) {
    background-color: var(--control-disabled-background-color);

    svg {
      fill: var(--control-disabled-text-color);
    }
  }
}

.number-box {
  max-width: 3.375rem;
  padding: 0.375rem;
}

.select-wrapper {
  position: relative;
  display: inline-block;

  &::after {
    content: '▼';
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%) scaleX(1.5);
    color: var(--control-text-color);
    pointer-events: none;
    font-size: 0.5em;
  }

  &:has(select:disabled)::after {
    color: var(--control-disabled-text-color);
  }

  select {
    appearance: none;
    padding-right: 1.25rem;
    padding-left: 0.375rem;
    outline: none;
    box-shadow: none;
    appearance: none;
  }
}

input[type='text'] {
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  user-select: text;
  -webkit-user-select: text;
}

input[type='range'] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  min-width: 4rem;
  max-width: 18.75rem;
  height: 0.25rem;
  background: var(--control-track-color);
  border-radius: 0;
  outline: none;

  &:active::-webkit-slider-thumb {
    background-color: var(--control-text-color);
  }

  &:disabled {
    background: var(--control-disabled-track-color);
  }

  &:disabled::-webkit-slider-thumb {
    cursor: not-allowed;
    background: var(--control-disabled-knob-color);
  }
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.875rem;
  height: 0.875rem;
  background: var(--control-knob-color);
  border-radius: 50%;
  cursor: pointer;
}

.separator-control-container {
  display: flex;
  align-items: center;
  margin-left: 0.25rem;
  color: var(--text-color-muted);

  small {
    font-size: calc(var(--control-font-size) - 0.125rem);
  }
}

.separator {
  position: relative;
  width: 100%;
  height: 0.0625rem;
  margin: 0.5rem 0;
  padding: 0 4rem;

  &::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 95%;
    height: 0.0625rem;
    background-image: linear-gradient(
      to right,
      var(--muted-color) 50%,
      transparent 50%
    );
    background-size: 0.25rem 0.0625rem;
    background-repeat: repeat-x;
    transform: translateX(-50%);
  }
}

.vertical-separator {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 0.0625rem;
  height: 100%;
  min-height: var(--control-height);
  margin: 0 0.125rem;
  background-color: var(--muted-color);
}

.meter {
  display: inline-block;
  margin-left: 0.25rem;
  text-align: right;
  font-size: 0.625em;
  cursor: default;
}

.meter-value {
  color: var(--meter-color);
  font-size: 1.2em;
}

.control-row {
  display: flex;
  width: 100%;
  height: 1.5rem;
  align-items: center;

  > fieldset {
    flex-grow: 1;

    input[type='range'] {
      flex-shrink: 0;
    }
  }

  label {
    > span {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &.clickable {
      position: relative;
      cursor: pointer;

      &:hover {
        font-weight: bold;

        span.text:not(.revert)::after {
          content: '<-?';
          margin-left: 0.25rem;
        }
        span.text.revert::after {
          display: inline-block;
          content: '⟲';
          margin-left: 0.25rem;
          transform: scale(1.5);
          transform-origin: left center;
          font-weight: normal !important;
        }
      }
    }
  }

  &.in-transition {
    label {
      animation: labelTransition var(--beat) ease-in-out infinite alternate;
    }
  }
}

@keyframes labelTransition {
  from {
    color: var(--text-color);
  }
  to {
    color: transparent;
  }
}

.indicator-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 0.125rem;

  &:has(+ span:not(.indicator-icon)) {
    margin-right: 0.25rem;
  }

  svg {
    width: 0.75rem;
    height: 0.75rem;
    fill: var(--text-color);
  }
}

.console {
  overflow: auto;
  position: relative;
  height: 4.75rem;
  padding: 0.5rem;
  padding-right: 1.25rem;
  font-size: 0.625em;
  background-color: var(--console-background-color);

  .icon-button {
    position: absolute;
    top: 0;
    left: calc(100% - var(--control-height) - 0.5rem);

    svg {
      fill: var(--muted-color);
    }

    &.on {
      background-color: unset;
      svg {
        fill: var(--control-text-color);
      }
    }
  }
}

#settings {
  display: flex;
  overflow: auto;
  height: 100%;
  padding-top: 0.25rem;

  h2:not(:nth-of-type(1)) {
    margin-top: 0.75rem;
  }

  > section {
    flex-basis: 50%;
    padding-left: 0.375rem;

    &:first-child {
      border-right: 0.0625rem dotted var(--muted-color);
    }

    &:last-child {
      padding-left: 0.75rem;
    }
  }

  select {
    width: 10.625rem;
  }

  .folder-option {
    position: relative;
    flex-direction: column;
    align-items: start;
    height: auto;
    margin-top: 0.5rem;

    > div {
      position: relative;
      display: flex;
      align-items: center;
      font-size: var(--control-font-size);
      margin-top: 0.25rem;
      cursor: pointer;

      > button {
        margin: 0;
        margin-right: 0.25rem;
      }

      > span {
        position: relative;
        top: 0.1rem;
        display: inline-block;
        max-width: 212px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }

  aside {
    margin-top: 0.5rem;

    > button {
      height: unset;
      padding: 0.25rem 0.5rem;
      font-size: 0.5em;
    }
  }
}

#mappings-section {
  max-width: 50%;
}

#map-mode {
  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  > main {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    gap: 0 0.375rem;

    > span > button:first-child {
      width: 3rem;
    }

    label {
      max-width: 75%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.map-button {
  &.mapping {
    border: 0.125rem solid var(--meter-color);
  }
}

.empty-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--text-color-muted);
}

#main-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

  header {
    border-bottom: 1px solid var(--muted-color);
  }

  main {
    flex: 1;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    padding: 0.5rem 0;
  }
}

#snapshots {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space;
  height: 100%;
  padding: 0.25rem 2rem;

  > .snapshot-slot {
    text-align: center;
    position: relative;
    width: 20%;
  }

  button.slot:first-child {
    display: inline-block;
  }

  > div > :nth-of-type(2) {
    position: absolute;
    margin-left: 0.125rem;
  }

  footer {
    text-align: center;
    margin-top: 1rem;
    width: 100%;
  }
}

.snapshot-sequence-overlay {
  position: absolute !important;
  inset: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 1.25em;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  color: red;
  cursor: not-allowed;
}
