:root {
  --control-margin: 4px;
  --control-height: 20px;
  --control-font-size: 10px;
}

[data-theme='light'] {
  --background-color: #fff;
  --text-color: #222;
  --control-background-color: #eee;
  --control-text-color: #222;
}

[data-theme='dark'] {
  --background-color: #1a1a1a;
  --text-color: #fff;
  --control-background-color: #363636;
  --control-text-color: #eee;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: monospace;
}

html {
  font-size: 12px;
}

body {
  font-size: 12px;
  margin: 0;
  padding: 0;
}

#app {
  background: var(--background-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;

  > header {
    padding: 4px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.select-wrapper {
  position: relative;
  display: inline-block;
}

.select-wrapper::after {
  content: '▼';
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%) scaleX(1.5);
  color: var(--control-text-color);
  pointer-events: none;
  font-size: 8px;
}

select {
  appearance: none;
  padding-left: 10px;
  outline: none;
  box-shadow: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

button {
  padding: 0 8px;
}

button,
select {
  height: var(--control-height);
  margin: var(--control-margin);
  font-size: var(--control-font-size);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  background-color: var(--control-background-color);
  color: var(--control-text-color);
}
